<%- include('header', pagetype = "cart") %>

<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 mt-5">
            <div class="card text-center">
                <h4 class="card-header">Kosár tartalma</h4>
                <div class="container">
                    <table class="table mt-3 table-hover table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Gyártó</th>
                                <th scope="col">Alkatrész</th>
                                <th scope="col">Ár</th>
                                <th scope="col">Mennyiség</th>
                                <th scope="col">Törlés</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% var sum=0 %>
                            <% part.forEach(function(one){ %>
                            <% sum += one.price%>
                            <tr>
                                <td>
                                    <%= one.partBrand %>
                                </td>
                                <td>
                                    <%= one.partType %>
                                </td>
                                <td>
                                    <%= one.price %>
                                </td>
                                <td>
                                    <%= one.quantity %> db
                                </td>
                                <td>
                                    <a class="btn btn-danger btn-sm" href="/cart/del/<%= one._id %>" role="button">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 mt-3">
            <div class="card">
                <div class="container">
                    <table class="table table-bordered mt-3">
                        <tbody>
                            <tr>
                                <th>Összesen</th>
                                <td colspan="3"><%= sum %> FT</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        <a class="btn btn-dark mb-3" href="/order" role="button">Megveszem</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col my-3"></div>
    </div>
</div>

<%- include('footer') %>