<%- include('header', pagetype="cars") %>

<% if(loggedin){ %>
<div class="row">
    <div class="col-1"></div>
    <div class="col-10 mt-3">
        <div class="card text-center">
            <h4 class="card-header ">
                <% if(typeof car=== 'undefined') {%>
                Új autó hozzáadása
                <% }else{%>
                Szerkesztés
                <% } %>
            </h4>
            <div class="container">
                <form action="/car/<%= (typeof car==='undefined') ? "new" : car.carbrand + "/edit/" + car._id %>" method="post">
                    <div class="form-row">
                        <div class="col my-4">
                            <label for="sel1">Márka:</label>
                            <% if(typeof car!=='undefined'){ %>
                            <select class="form-control" id="brandlist" name="brandlist">
                                <option <%if(car.carbrand=='Opel'){%> selected <%}%>>Opel</option>
                                    <option <%if(car.carbrand=='Ford'){%> selected <%}%>>Ford</option>
                                    <option <%if(car.carbrand=='Suzuki'){%> selected <%}%>>Suzuki</option>
                                    <option <%if(car.carbrand=='Toyota'){%> selected <%}%>>Toyota</option>
                                </select>
                            <% }else if(typeof car==='undefined'){ %> <select class="form-control" id="brandlist"
                                    name="brandlist">
                                <option>Opel</option>
                                <option>Ford</option>
                                <option>Suzuki</option>
                                <option>Toyota</option>
                            </select>
                            <% } %>
                        </div>
                        <div class="col  my-4">
                            <label for="model">Típus:</label>
                            <input type="text" class="form-control" placeholder="Típus" id="model" name="model"
                                value="<%= (typeof car==='undefined') ? '' : car.model %>">
                        </div>
                        <div class="col  my-4">
                            <label for="year">Évjárat:</label>
                            <input type="text" class="form-control" placeholder="Évjárat" id="year" name="year"
                                value="<%= (typeof car==='undefined') ? '' : car.year %>">
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-success mb-3 mx-4" role="button">Mentés</button>
                        <button class="btn btn-danger mb-3 mx-4"
                            href="/car/<%= (typeof car==='undefined') ? '' : car.carbrand.toLowerCase() %>">Mégsem</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>
<% } %>

<%- include('footer') %>