<%- include('header', pagetype="cars") %>

<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 mt-5">
            <div class="card text-center">
                <h4 class="card-header text-center">Autók</h4>
                <div class="container">
                    <% if(loggedin) { %>
                        <div class="card text-center my-3">
                            <a class="btn btn-success btn-lg" href="/car/new" role="button">
                                <i class="fas fa-plus"></i> Új autó hozzáadása
                            </a>
                        </div>
                    <% } %>
                    <table class="table mt-3 table-hover table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Márka</th>
                                <th scope="col">Típus</th>
                                <th scope="col">Évjárat</th>
                                <th scope="col">Alkatrészek</th>
                                <% if(loggedin) { %>
                                <th scope="col">Műveletek</th>
                                <% } %>
                            </tr>
                        </thead>
                        <tbody>

                            <% cars.forEach(function(one){ %>
                            <tr>
                                <td>
                                    <%= one.carbrand %>
                                </td>
                                <td>
                                    <%= one.model %>
                                </td>
                                <td>
                                    <%= one.year %>
                                </td>
                                <td>
                                    <a class="btn btn-dark btn-sm" href="/part/<%= one._id%>" role="button">Tovább</a>
                                </td>
                                <% if(loggedin) { %>
                                <td>
                                    <a class="btn btn-dark btn-sm"
                                        href="/car/<%= one.carbrand.toLowerCase()%>/edit/<%= one._id%>" role="button">
                                        <i class="fas fa-edit"></i>
                                    </a>

                                    <a class="btn btn-danger btn-sm"
                                        href="/car/<%= one.carbrand.toLowerCase() %>/del/<%= one._id%>" role="button">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </td>
                                <% } %>
                            </tr>
                            <% });%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col my-3">

        </div>
    </div>
</div>

<%- include('footer') %>