<%- include('header', pagetype="admin") %>
<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 mt-5">
            <div class="card text-center">
                <h4 class="card-header text-center">Rendelések</h4>
                <div class="container">
                    <table class="table mt-3 table-hover table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Név</th>
                                <th scope="col">Ár</th>
                                <th scope="col">Műveletek</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% order.forEach(function(oneOrder){ %>
                            <tr>
                                <td>
                                    <%= oneOrder._id %>
                                </td>
                                <td>
                                    <%= oneOrder.name %>
                                </td>
                                <td>
                                    <%= oneOrder.price %>
                                </td>
                                <td>
                                    <a class="btn btn-primary btn-sm" href="mailto:<%= oneOrder.email %>" role="button">
                                        <i class="far fa-envelope"></i>
                                    </a>
                                    <a class="btn btn-danger btn-sm" href="/order/del/<%= oneOrder._id %>"
                                        role="button">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col my-3">

        </div>
    </div>
</div>

<%- include('footer') %>