<%- include('header', pagetype="parts") %>

<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 mt-5">
            <div class="card text-center">
                <h4 class="card-header">Alkatrészek</h4>
                <div class="container">
                    <% if(typeof error !== 'undefined'){ %>
                        <div class="alert alert-warning alert-dismissible fade show my-3" role="alert">
                            <strong>Hoppá!</strong> Úgy néz ki nem állítottad be, hogy mennyit szeretnél rendelni.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    <% } %>
                    <table class="table mt-3 table-hover table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Gyártó</th>
                                <th scope="col">Alkatrész</th>
                                <th scope="col">Megjegyzés</th>
                                <th scope="col">Ár</th>
                                <th scope="col">Mennyiség</th>
                                <th scope="col">Kosárba</th>
                                <% if(loggedin) { %>
                                <th scope="col">Műveletek</th>
                                <% } %>
                            </tr>
                        </thead>
                        <tbody>
                            <% parts.forEach(function(onePart){ %>
                            <tr>
                                <td>
                                    <%= onePart.partBrand %>
                                </td>
                                <td>
                                    <%= onePart.partType %>
                                </td>
                                <td>
                                    <%= onePart.comment %>
                                </td>
                                <td>
                                    <%= onePart.price %>
                                </td>
                                <form action="/cart/new/<%= onePart._id %>" method="post">
                                    <td>
                                        <input type="number" value="0" min="0" max="100" step="1" id="quantity"
                                            name="quantity">
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-outline-success btn-sm">
                                            <i class="fas fa-plus"></i></button>
                                    </td>
                                </form>
                                <% if(loggedin) { %>
                                <td>
                                    <a class="btn btn-dark btn-sm"
                                        href="/part/<%= onePart._carid %>/edit/<%= onePart._id %>" role="button">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a class="btn btn-danger btn-sm"
                                        href="/part/<%= onePart._carid %>/del/<%= onePart._id %>" role="button">
                                        <i class="fas fa-times"></i>
                                    </a>

                                    <a class="btn btn-success btn-sm" href="/part/<%= onePart._carid %>/new"
                                        role="button">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </td>
                                <% } %>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col my-3"></div>
    </div>
</div>

<%- include('footer') %>